spring:
  datasource:
    url: "jdbc:postgresql://localhost:5432/zero_warehouse"
    username: zero
    password: finite
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      hibernate:
        temp:
          use_jdbc_metadata_defaults: false
        jdbc:
          lob:
            non_contextual_creation: true
    hibernate:
      ddl-auto: update
      naming:
        implicit-strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyComponentPathImpl
        sql:
          init:
            mode: always
  liquibase:
    enabled: true
    change-log: classpath:/db/changelog/db.changelog-master.yaml
    user: ${spring.datasource.username}
    password: ${spring.datasource.password}
jwt:
  secret: "a2b2fa31f6d6c1e8a40509f684a9a32d"
  expiration: 86400000